<!-- Toolbar -->
<div class="header-nav">
<mat-toolbar>
  <mat-toolbar-row>
    <a mat-button class="logo-brand">    
         <img width="100" alt="Aleph Logo" src="../assets/images/logo.png"/><span>APPSTORE</span>  
    </a>
    <span class="spacer"></span>
    <button class="search" (click)="openDialog()" mat-button><span class="d-none d-md-block">Buscá apps, juegos y más... </span><mat-icon matSuffix>search</mat-icon></button>
    <span class="spacer"></span>
    <button mat-icon-button (click)="sidenav.toggle()" fxShow="true" fxHide.gt-sm>
      <mat-icon color="primary" >menu</mat-icon>
    </button>
    <div fxShow="true" fxHide.lt-md class="auth-nav">
      <a href="" mat-button >
        <mat-icon color="primary">
          person
        </mat-icon>
        Iniciar sesión
      </a>
      <a href="" mat-button >
        <mat-icon color="primary">add_circle</mat-icon>
        <span>Registrarse</span>
      </a>
    </div>
  </mat-toolbar-row>    
</mat-toolbar>
<mat-sidenav-container fxFlexFill class="auth-nav-mobile">
    <mat-sidenav #sidenav>
      <mat-nav-list>
        <a (click)="sidenav.toggle()" mat-list-item class="close-sidenav">
          <mat-icon color="primary">
            close
          </mat-icon>
        </a>
        <a href="#" mat-list-item>
          <button mat-button >
            <mat-icon color="primary">
              person
            </mat-icon>
            Iniciar sesión
          </button>
        </a>
        <a href="#" mat-list-item> 
          <button mat-button >
            <mat-icon color="primary">add_circle</mat-icon>
            <span>Registrarse</span>
          </button>
        </a>  
      </mat-nav-list>
    </mat-sidenav>    
  </mat-sidenav-container>
</div>

<router-outlet></router-outlet>

<footer>
  <div class="container">
    <div class="row">
      <div class="col-12 col-md-5 order-2 order-md-1">
        <nav class="socials_links">
          <a href="www.facebook.com" target="_blank" class="facebook">
            <button mat-icon-button>
              <i class="fa fa-facebook-square"></i>
            </button>
          </a>
          <a href="www.twitter.com" target="_blank" class="twitter">
            <button mat-icon-button>
              <i class="fa fa-twitter"></i>
            </button>
          </a>
          <a href="www.instagram.com" target="_blank" class="instagram">
            <button mat-icon-button>
              <i class="fa fa-instagram"></i>
            </button>
          </a>
          <a href="www.youtube.com" target="_blank" class="youtube">
            <button mat-icon-button>
              <i class="fa fa-youtube-play"></i>
            </button>
          </a>
        </nav>
      </div>
      <div class="col-12 col-md-7 d-flex flex-column flex-sm-row order-1 order-md-2">
        <mat-list role="list">
          <p matSubheader class="text-uppercase">Categorías</p>
          <mat-list-item role="listitem"><a href="#">Negocios</a></mat-list-item>
          <mat-list-item role="listitem"><a href="#">Seguridad</a></mat-list-item>
          <mat-list-item role="listitem"><a href="#">Marketing</a></mat-list-item>
          <mat-list-item role="listitem"><a href="#">Healthcare</a></mat-list-item>
        </mat-list>
        <span class="spacer"></span>
        <mat-list role="list">
          <p matSubheader class="text-uppercase">Sumate</p>
          <mat-list-item role="listitem"><a href="#">Iniciar sesión</a></mat-list-item>
          <mat-list-item role="listitem"><a href="#">Registrarte</a></mat-list-item>
          <mat-list-item role="listitem"><a href="#">FAQ's</a></mat-list-item>
        </mat-list>
        <span class="spacer"></span>
        <mat-list role="list">
          <p matSubheader class="text-uppercase">Contacto</p>
          <mat-list-item role="listitem"><a href="tel:000000" target="_blank">000 000 000</a></mat-list-item>
          <mat-list-item role="listitem"><a href="mailto:lorem@gmail.com" target="_blank">lorem@gmail.com</a></mat-list-item>
          <mat-list-item role="listitem">
            <a mat-flat-button color="primary" href="https://api.whatsapp.com/send?phone=000000&text=Hola%20Aleph%2C" target="_blank" class="whatsapp f-regular">
              <i class="fa fa-whatsapp"></i>
              Mensaje directo
            </a>
          </mat-list-item>
        </mat-list>
      </div>
    </div>
  </div>
  

</footer>