<div class="container-fluid">
	<div class="row">
		<div class="col-12 px-md-0">
			<ngb-carousel interval="9000" pauseOnHover="true" showNavigationArrows="false">
			  <ng-template ngbSlide>
			    <div class="carousel-caption">
			      <h1>Lorem <br class="d-none d-md-block"/>Ipsum Dolor <br class="d-none d-md-block"/>Sit Amet</h1>
			    </div>
			    <div class="picsum-img-wrapper text-right">
			      <img src="../../assets/images/slides/aleph-slider.jpg" alt="first slide" class="img-fluid w-65">
			    </div>			    
			  </ng-template>
			  <ng-template ngbSlide>
			    <div class="carousel-caption">
			      <h1>Lorem <br class="d-none d-md-block"/>Ipsum Dolor <br class="d-none d-md-block"/>Sit Amet 2</h1>
			    </div>
			    <div class="picsum-img-wrapper text-right">
			      <img src="../../assets/images/slides/aleph-slider.jpg" alt="second slide" class="img-fluid w-65">
			    </div>			    
			  </ng-template>
			  <ng-template ngbSlide>
			    <div class="carousel-caption">
			      <h1>Lorem <br class="d-none d-md-block" />Ipsum Dolor <br class="d-none d-md-block"/>Sit Amet 3</h1>
			    </div>
			    <div class="picsum-img-wrapper text-right">
			      <img src="../../assets/images/slides/aleph-slider.jpg" alt="third slide" class="img-fluid w-65">
			    </div>			    
			  </ng-template>
			</ngb-carousel>
		</div>
	</div>
</div>
<div class="container">
	<div class="row">
		<div class="col-12">			
			<div class="nav_types_app">
				<a href="" mat-button class="btn-outline f-light has_menu">
					<i class="material-icons">menu</i>			    
			    Categorías
				</a>
				<a href="" mat-button class="btn-outline color-grey f-light">
					Destacadas
				</a>
				<a href="" mat-button class="btn-outline color-grey f-light">
					Gratuitas
				</a>
				<a href="" mat-button class="btn-outline color-grey f-light">
					Pruebas Gratuitas
				</a>
			</div>
			<div class="app_featureds">
				<h2>Aplicaciones destacadas</h2>
				<mat-tab-group>
				  <mat-tab label="Seguridad" class="text-uppercase">
				  	<mat-list role="list">
						  <mat-list-item role="listitem">
						  	<mat-card class="example-card">
								  <img mat-card-image src="../../assets/images/apps/youtube-go.png" alt="Youtube Go">
								  <mat-card-content>
								    <p class="subtitle text-uppercase">google llc</p>
								    <h2>Youtube Go</h2>
								    <p>
								      YouTube Go es una app que puedes usar todos los días, incluso si tienes datos limitados o una conexión lenta. La app está diseñada para funcionar con poca memoria.
								    </p>
								    <div class="tags">
								    	<a href="" mat-button>
								    		<i class="material-icons">arrow_right</i>
								    		Comunicaciones
								    	</a>
								    	<a href="" mat-button>
								    		<i class="material-icons">arrow_right</i>
								    		Entretenimiento
								    	</a>
								    </div>
								  </mat-card-content>
								  <mat-card-actions>
								    <p class="price d-flex flex-column align-items-end justify-content-end">
								    	<small>Desde</small>
								    	<span>UYU $ <b>1.500</b></span>
								    </p>
								    <button mat-button class="text-uppercase btn-outline f-medium">Comprar</button>
								  </mat-card-actions>
								</mat-card>
						  </mat-list-item>
						  <mat-list-item role="listitem">
						  	<mat-card class="example-card">
								  <img mat-card-image src="../../assets/images/apps/fancy-security.png" alt="Fancy Security">
								  <mat-card-content>
								    <p class="subtitle text-uppercase">Fancy Mobile Apps</p>
								    <h2>Fancy Security</h2>
								    <p>
								      Es un antivirus, limpiador de teléfono y aplicación de refuerzo de Android rápido, ligero y potente. Puede eliminar virus, aumentar la memoria del teléfono y limpiar el espacio.
								    </p>
								    <div class="tags">
								    	<a href="" mat-button>
								    		<i class="material-icons">arrow_right</i>
								    		Comunicaciones
								    	</a>
								    	<a href="" mat-button>
								    		<i class="material-icons">arrow_right</i>
								    		Entretenimiento
								    	</a>
								    </div>
								  </mat-card-content>
								  <mat-card-actions>
								    <p class="price d-flex flex-column align-items-end justify-content-end">
								    	<small>Desde</small>
								    	<span>UYU $ <b>1.500</b></span>
								    </p>
								    <button mat-button class="text-uppercase btn-outline f-medium">Comprar</button>
								  </mat-card-actions>
								</mat-card>
						  </mat-list-item>
						  <mat-list-item role="listitem">
						  	<mat-card class="example-card">
								  <img mat-card-image src="../../assets/images/apps/samsung-health.png" alt="Samsung Health">
								  <mat-card-content>
								    <p class="subtitle text-uppercase">Samsung Electronics Co., Ltd.</p>
								    <h2>Samsung Health</h2>
								    <p>
								      Samsung Health ofrece funciones esenciales para que pueda mantener el cuerpo sano y en forma. Registrará y analizará sus actividades diarias y sus hábitos.
								    </p>
								    <div class="tags">
								    	<a href="" mat-button>
								    		<i class="material-icons">arrow_right</i>
								    		Comunicaciones
								    	</a>
								    	<a href="" mat-button>
								    		<i class="material-icons">arrow_right</i>
								    		Entretenimiento
								    	</a>
								    </div>
								  </mat-card-content>
								  <mat-card-actions>
								    <p class="price d-flex flex-column align-items-end justify-content-end">
								    	<small>Desde</small>
								    	<span>UYU $ <b>1.500</b></span>
								    </p>
								    <button mat-button class="text-uppercase btn-outline f-medium">Comprar</button>
								  </mat-card-actions>
								</mat-card>
						  </mat-list-item>
						  <mat-list-item role="listitem">
						  	<mat-card class="example-card">
								  <img mat-card-image src="../../assets/images/apps/google-primer.png" alt="Google Primer">
								  <mat-card-content>
								    <p class="subtitle text-uppercase">Google Learns apps</p>
								    <h2>Google Primer</h2>
								    <p>
								      Primer es una forma simple y veloz de adquirir nuevas habilidades sobre negocios y marketing. Funciona incluso offline, así que puedes tomar lecciones en cualquier momento.
								    </p>
								    <div class="tags">
								    	<a href="" mat-button>
								    		<i class="material-icons">arrow_right</i>
								    		Comunicaciones
								    	</a>
								    	<a href="" mat-button>
								    		<i class="material-icons">arrow_right</i>
								    		Entretenimiento
								    	</a>
								    </div>
								  </mat-card-content>
								  <mat-card-actions>
								    <p class="price d-flex flex-column align-items-end justify-content-end">
								    	<small>Desde</small>
								    	<span>UYU $ <b>1.500</b></span>
								    </p>
								    <button mat-button class="text-uppercase btn-outline f-medium">Comprar</button>
								  </mat-card-actions>
								</mat-card>
						  </mat-list-item>
						</mat-list>
						<div class="see-more text-center">
							<button mat-button class="btn-outline color-grey f-light">Ver más</button>
						</div>					  	
				  </mat-tab>
				  <mat-tab label="Marketing" class="text-uppercase">
				  	<mat-list role="list">
						  <mat-list-item role="listitem">
						  	<mat-card class="example-card">
								  <img mat-card-image src="../../assets/images/apps/youtube-go.png" alt="Youtube Go">
								  <mat-card-content>
								    <p class="subtitle text-uppercase">google llc</p>
								    <h2>Youtube Go</h2>
								    <p>
								      YouTube Go es una app que puedes usar todos los días, incluso si tienes datos limitados o una conexión lenta. La app está diseñada para funcionar con poca memoria.
								    </p>
								    <div class="tags">
								    	<a href="" mat-button>
								    		<i class="material-icons">arrow_right</i>
								    		Comunicaciones
								    	</a>
								    	<a href="" mat-button>
								    		<i class="material-icons">arrow_right</i>
								    		Entretenimiento
								    	</a>
								    </div>
								  </mat-card-content>
								  <mat-card-actions>
								    <p class="price d-flex flex-column align-items-end justify-content-end">
								    	<small>Desde</small>
								    	<span>UYU $ <b>1.500</b></span>
								    </p>
								    <button mat-button class="text-uppercase btn-outline f-medium">Comprar</button>
								  </mat-card-actions>
								</mat-card>
						  </mat-list-item>
						  <mat-list-item role="listitem">
						  	<mat-card class="example-card">
								  <img mat-card-image src="../../assets/images/apps/fancy-security.png" alt="Fancy Security">
								  <mat-card-content>
								    <p class="subtitle text-uppercase">Fancy Mobile Apps</p>
								    <h2>Fancy Security</h2>
								    <p>
								      Es un antivirus, limpiador de teléfono y aplicación de refuerzo de Android rápido, ligero y potente. Puede eliminar virus, aumentar la memoria del teléfono y limpiar el espacio.
								    </p>
								    <div class="tags">
								    	<a href="" mat-button>
								    		<i class="material-icons">arrow_right</i>
								    		Comunicaciones
								    	</a>
								    	<a href="" mat-button>
								    		<i class="material-icons">arrow_right</i>
								    		Entretenimiento
								    	</a>
								    </div>
								  </mat-card-content>
								  <mat-card-actions>
								    <p class="price d-flex flex-column align-items-end justify-content-end">
								    	<small>Desde</small>
								    	<span>UYU $ <b>1.500</b></span>
								    </p>
								    <button mat-button class="text-uppercase btn-outline f-medium">Comprar</button>
								  </mat-card-actions>
								</mat-card>
						  </mat-list-item>
						  <mat-list-item role="listitem">
						  	<mat-card class="example-card">
								  <img mat-card-image src="../../assets/images/apps/samsung-health.png" alt="Samsung Health">
								  <mat-card-content>
								    <p class="subtitle text-uppercase">Samsung Electronics Co., Ltd.</p>
								    <h2>Samsung Health</h2>
								    <p>
								      Samsung Health ofrece funciones esenciales para que pueda mantener el cuerpo sano y en forma. Registrará y analizará sus actividades diarias y sus hábitos.
								    </p>
								    <div class="tags">
								    	<a href="" mat-button>
								    		<i class="material-icons">arrow_right</i>
								    		Comunicaciones
								    	</a>
								    	<a href="" mat-button>
								    		<i class="material-icons">arrow_right</i>
								    		Entretenimiento
								    	</a>
								    </div>
								  </mat-card-content>
								  <mat-card-actions>
								    <p class="price d-flex flex-column align-items-end justify-content-end">
								    	<small>Desde</small>
								    	<span>UYU $ <b>1.500</b></span>
								    </p>
								    <button mat-button class="text-uppercase btn-outline f-medium">Comprar</button>
								  </mat-card-actions>
								</mat-card>
						  </mat-list-item>
						  <mat-list-item role="listitem">
						  	<mat-card class="example-card">
								  <img mat-card-image src="../../assets/images/apps/google-primer.png" alt="Google Primer">
								  <mat-card-content>
								    <p class="subtitle text-uppercase">Google Learns apps</p>
								    <h2>Google Primer</h2>
								    <p>
								      Primer es una forma simple y veloz de adquirir nuevas habilidades sobre negocios y marketing. Funciona incluso offline, así que puedes tomar lecciones en cualquier momento.
								    </p>
								    <div class="tags">
								    	<a href="" mat-button>
								    		<i class="material-icons">arrow_right</i>
								    		Comunicaciones
								    	</a>
								    	<a href="" mat-button>
								    		<i class="material-icons">arrow_right</i>
								    		Entretenimiento
								    	</a>
								    </div>
								  </mat-card-content>
								  <mat-card-actions>
								    <p class="price d-flex flex-column align-items-end justify-content-end">
								    	<small>Desde</small>
								    	<span>UYU $ <b>1.500</b></span>
								    </p>
								    <button mat-button class="text-uppercase btn-outline f-medium">Comprar</button>
								  </mat-card-actions>
								</mat-card>
						  </mat-list-item>
						</mat-list>
						<div class="see-more text-center">
							<button mat-button class="btn-outline color-grey f-light">Ver más</button>
						</div>						
				  </mat-tab>
				  <mat-tab label="Healthcare" class="text-uppercase">
				  	<mat-list role="list">
						  <mat-list-item role="listitem">
						  	<mat-card class="example-card">
								  <img mat-card-image src="../../assets/images/apps/youtube-go.png" alt="Youtube Go">
								  <mat-card-content>
								    <p class="subtitle text-uppercase">google llc</p>
								    <h2>Youtube Go</h2>
								    <p>
								      YouTube Go es una app que puedes usar todos los días, incluso si tienes datos limitados o una conexión lenta. La app está diseñada para funcionar con poca memoria.
								    </p>
								    <div class="tags">
								    	<a href="" mat-button>
								    		<i class="material-icons">arrow_right</i>
								    		Comunicaciones
								    	</a>
								    	<a href="" mat-button>
								    		<i class="material-icons">arrow_right</i>
								    		Entretenimiento
								    	</a>
								    </div>
								  </mat-card-content>
								  <mat-card-actions>
								    <p class="price d-flex flex-column align-items-end justify-content-end">
								    	<small>Desde</small>
								    	<span>UYU $ <b>1.500</b></span>
								    </p>
								    <button mat-button class="text-uppercase btn-outline f-medium">Comprar</button>
								  </mat-card-actions>
								</mat-card>
						  </mat-list-item>
						  <mat-list-item role="listitem">
						  	<mat-card class="example-card">
								  <img mat-card-image src="../../assets/images/apps/fancy-security.png" alt="Fancy Security">
								  <mat-card-content>
								    <p class="subtitle text-uppercase">Fancy Mobile Apps</p>
								    <h2>Fancy Security</h2>
								    <p>
								      Es un antivirus, limpiador de teléfono y aplicación de refuerzo de Android rápido, ligero y potente. Puede eliminar virus, aumentar la memoria del teléfono y limpiar el espacio.
								    </p>
								    <div class="tags">
								    	<a href="" mat-button>
								    		<i class="material-icons">arrow_right</i>
								    		Comunicaciones
								    	</a>
								    	<a href="" mat-button>
								    		<i class="material-icons">arrow_right</i>
								    		Entretenimiento
								    	</a>
								    </div>
								  </mat-card-content>
								  <mat-card-actions>
								    <p class="price d-flex flex-column align-items-end justify-content-end">
								    	<small>Desde</small>
								    	<span>UYU $ <b>1.500</b></span>
								    </p>
								    <button mat-button class="text-uppercase btn-outline f-medium">Comprar</button>
								  </mat-card-actions>
								</mat-card>
						  </mat-list-item>
						  <mat-list-item role="listitem">
						  	<mat-card class="example-card">
								  <img mat-card-image src="../../assets/images/apps/samsung-health.png" alt="Samsung Health">
								  <mat-card-content>
								    <p class="subtitle text-uppercase">Samsung Electronics Co., Ltd.</p>
								    <h2>Samsung Health</h2>
								    <p>
								      Samsung Health ofrece funciones esenciales para que pueda mantener el cuerpo sano y en forma. Registrará y analizará sus actividades diarias y sus hábitos.
								    </p>
								    <div class="tags">
								    	<a href="" mat-button>
								    		<i class="material-icons">arrow_right</i>
								    		Comunicaciones
								    	</a>
								    	<a href="" mat-button>
								    		<i class="material-icons">arrow_right</i>
								    		Entretenimiento
								    	</a>
								    </div>
								  </mat-card-content>
								  <mat-card-actions>
								    <p class="price d-flex flex-column align-items-end justify-content-end">
								    	<small>Desde</small>
								    	<span>UYU $ <b>1.500</b></span>
								    </p>
								    <button mat-button class="text-uppercase btn-outline f-medium">Comprar</button>
								  </mat-card-actions>
								</mat-card>
						  </mat-list-item>
						  <mat-list-item role="listitem">
						  	<mat-card class="example-card">
								  <img mat-card-image src="../../assets/images/apps/google-primer.png" alt="Google Primer">
								  <mat-card-content>
								    <p class="subtitle text-uppercase">Google Learns apps</p>
								    <h2>Google Primer</h2>
								    <p>
								      Primer es una forma simple y veloz de adquirir nuevas habilidades sobre negocios y marketing. Funciona incluso offline, así que puedes tomar lecciones en cualquier momento.
								    </p>
								    <div class="tags">
								    	<a href="" mat-button>
								    		<i class="material-icons">arrow_right</i>
								    		Comunicaciones
								    	</a>
								    	<a href="" mat-button>
								    		<i class="material-icons">arrow_right</i>
								    		Entretenimiento
								    	</a>
								    </div>
								  </mat-card-content>
								  <mat-card-actions>
								    <p class="price d-flex flex-column align-items-end justify-content-end">
								    	<small>Desde</small>
								    	<span>UYU $ <b>1.500</b></span>
								    </p>
								    <button mat-button class="text-uppercase btn-outline f-medium">Comprar</button>
								  </mat-card-actions>
								</mat-card>
						  </mat-list-item>
						</mat-list>
						<div class="see-more text-center">
							<button mat-button class="btn-outline color-grey f-light">Ver más</button>
						</div>	
				  </mat-tab>
				  <mat-tab label="Operations" class="text-uppercase">
				  	<mat-list role="list">
						  <mat-list-item role="listitem">
						  	<mat-card class="example-card">
								  <img mat-card-image src="../../assets/images/apps/youtube-go.png" alt="Youtube Go">
								  <mat-card-content>
								    <p class="subtitle text-uppercase">google llc</p>
								    <h2>Youtube Go</h2>
								    <p>
								      YouTube Go es una app que puedes usar todos los días, incluso si tienes datos limitados o una conexión lenta. La app está diseñada para funcionar con poca memoria.
								    </p>
								    <div class="tags">
								    	<a href="" mat-button>
								    		<i class="material-icons">arrow_right</i>
								    		Comunicaciones
								    	</a>
								    	<a href="" mat-button>
								    		<i class="material-icons">arrow_right</i>
								    		Entretenimiento
								    	</a>
								    </div>
								  </mat-card-content>
								  <mat-card-actions>
								    <p class="price d-flex flex-column align-items-end justify-content-end">
								    	<small>Desde</small>
								    	<span>UYU $ <b>1.500</b></span>
								    </p>
								    <button mat-button class="text-uppercase btn-outline f-medium">Comprar</button>
								  </mat-card-actions>
								</mat-card>
						  </mat-list-item>
						  <mat-list-item role="listitem">
						  	<mat-card class="example-card">
								  <img mat-card-image src="../../assets/images/apps/fancy-security.png" alt="Fancy Security">
								  <mat-card-content>
								    <p class="subtitle text-uppercase">Fancy Mobile Apps</p>
								    <h2>Fancy Security</h2>
								    <p>
								      Es un antivirus, limpiador de teléfono y aplicación de refuerzo de Android rápido, ligero y potente. Puede eliminar virus, aumentar la memoria del teléfono y limpiar el espacio.
								    </p>
								    <div class="tags">
								    	<a href="" mat-button>
								    		<i class="material-icons">arrow_right</i>
								    		Comunicaciones
								    	</a>
								    	<a href="" mat-button>
								    		<i class="material-icons">arrow_right</i>
								    		Entretenimiento
								    	</a>
								    </div>
								  </mat-card-content>
								  <mat-card-actions>
								    <p class="price d-flex flex-column align-items-end justify-content-end">
								    	<small>Desde</small>
								    	<span>UYU $ <b>1.500</b></span>
								    </p>
								    <button mat-button class="text-uppercase btn-outline f-medium">Comprar</button>
								  </mat-card-actions>
								</mat-card>
						  </mat-list-item>
						  <mat-list-item role="listitem">
						  	<mat-card class="example-card">
								  <img mat-card-image src="../../assets/images/apps/samsung-health.png" alt="Samsung Health">
								  <mat-card-content>
								    <p class="subtitle text-uppercase">Samsung Electronics Co., Ltd.</p>
								    <h2>Samsung Health</h2>
								    <p>
								      Samsung Health ofrece funciones esenciales para que pueda mantener el cuerpo sano y en forma. Registrará y analizará sus actividades diarias y sus hábitos.
								    </p>
								    <div class="tags">
								    	<a href="" mat-button>
								    		<i class="material-icons">arrow_right</i>
								    		Comunicaciones
								    	</a>
								    	<a href="" mat-button>
								    		<i class="material-icons">arrow_right</i>
								    		Entretenimiento
								    	</a>
								    </div>
								  </mat-card-content>
								  <mat-card-actions>
								    <p class="price d-flex flex-column align-items-end justify-content-end">
								    	<small>Desde</small>
								    	<span>UYU $ <b>1.500</b></span>
								    </p>
								    <button mat-button class="text-uppercase btn-outline f-medium">Comprar</button>
								  </mat-card-actions>
								</mat-card>
						  </mat-list-item>
						  <mat-list-item role="listitem">
						  	<mat-card class="example-card">
								  <img mat-card-image src="../../assets/images/apps/google-primer.png" alt="Google Primer">
								  <mat-card-content>
								    <p class="subtitle text-uppercase">Google Learns apps</p>
								    <h2>Google Primer</h2>
								    <p>
								      Primer es una forma simple y veloz de adquirir nuevas habilidades sobre negocios y marketing. Funciona incluso offline, así que puedes tomar lecciones en cualquier momento.
								    </p>
								    <div class="tags">
								    	<a href="" mat-button>
								    		<i class="material-icons">arrow_right</i>
								    		Comunicaciones
								    	</a>
								    	<a href="" mat-button>
								    		<i class="material-icons">arrow_right</i>
								    		Entretenimiento
								    	</a>
								    </div>
								  </mat-card-content>
								  <mat-card-actions>
								    <p class="price d-flex flex-column align-items-end justify-content-end">
								    	<small>Desde</small>
								    	<span>UYU $ <b>1.500</b></span>
								    </p>
								    <button mat-button class="text-uppercase btn-outline f-medium">Comprar</button>
								  </mat-card-actions>
								</mat-card>
						  </mat-list-item>
						</mat-list>
						<div class="see-more text-center">
							<button mat-button class="btn-outline color-grey f-light">Ver más</button>
						</div>	
				  </mat-tab>
				  <mat-tab label="Industry" class="text-uppercase">
				  	<mat-list role="list">
						  <mat-list-item role="listitem">
						  	<mat-card class="example-card">
								  <img mat-card-image src="../../assets/images/apps/youtube-go.png" alt="Youtube Go">
								  <mat-card-content>
								    <p class="subtitle text-uppercase">google llc</p>
								    <h2>Youtube Go</h2>
								    <p>
								      YouTube Go es una app que puedes usar todos los días, incluso si tienes datos limitados o una conexión lenta. La app está diseñada para funcionar con poca memoria.
								    </p>
								    <div class="tags">
								    	<a href="" mat-button>
								    		<i class="material-icons">arrow_right</i>
								    		Comunicaciones
								    	</a>
								    	<a href="" mat-button>
								    		<i class="material-icons">arrow_right</i>
								    		Entretenimiento
								    	</a>
								    </div>
								  </mat-card-content>
								  <mat-card-actions>
								    <p class="price d-flex flex-column align-items-end justify-content-end">
								    	<small>Desde</small>
								    	<span>UYU $ <b>1.500</b></span>
								    </p>
								    <button mat-button class="text-uppercase btn-outline f-medium">Comprar</button>
								  </mat-card-actions>
								</mat-card>
						  </mat-list-item>
						  <mat-list-item role="listitem">
						  	<mat-card class="example-card">
								  <img mat-card-image src="../../assets/images/apps/fancy-security.png" alt="Fancy Security">
								  <mat-card-content>
								    <p class="subtitle text-uppercase">Fancy Mobile Apps</p>
								    <h2>Fancy Security</h2>
								    <p>
								      Es un antivirus, limpiador de teléfono y aplicación de refuerzo de Android rápido, ligero y potente. Puede eliminar virus, aumentar la memoria del teléfono y limpiar el espacio.
								    </p>
								    <div class="tags">
								    	<a href="" mat-button>
								    		<i class="material-icons">arrow_right</i>
								    		Comunicaciones
								    	</a>
								    	<a href="" mat-button>
								    		<i class="material-icons">arrow_right</i>
								    		Entretenimiento
								    	</a>
								    </div>
								  </mat-card-content>
								  <mat-card-actions>
								    <p class="price d-flex flex-column align-items-end justify-content-end">
								    	<small>Desde</small>
								    	<span>UYU $ <b>1.500</b></span>
								    </p>
								    <button mat-button class="text-uppercase btn-outline f-medium">Comprar</button>
								  </mat-card-actions>
								</mat-card>
						  </mat-list-item>
						  <mat-list-item role="listitem">
						  	<mat-card class="example-card">
								  <img mat-card-image src="../../assets/images/apps/samsung-health.png" alt="Samsung Health">
								  <mat-card-content>
								    <p class="subtitle text-uppercase">Samsung Electronics Co., Ltd.</p>
								    <h2>Samsung Health</h2>
								    <p>
								      Samsung Health ofrece funciones esenciales para que pueda mantener el cuerpo sano y en forma. Registrará y analizará sus actividades diarias y sus hábitos.
								    </p>
								    <div class="tags">
								    	<a href="" mat-button>
								    		<i class="material-icons">arrow_right</i>
								    		Comunicaciones
								    	</a>
								    	<a href="" mat-button>
								    		<i class="material-icons">arrow_right</i>
								    		Entretenimiento
								    	</a>
								    </div>
								  </mat-card-content>
								  <mat-card-actions>
								    <p class="price d-flex flex-column align-items-end justify-content-end">
								    	<small>Desde</small>
								    	<span>UYU $ <b>1.500</b></span>
								    </p>
								    <button mat-button class="text-uppercase btn-outline f-medium">Comprar</button>
								  </mat-card-actions>
								</mat-card>
						  </mat-list-item>
						  <mat-list-item role="listitem">
						  	<mat-card class="example-card">
								  <img mat-card-image src="../../assets/images/apps/google-primer.png" alt="Google Primer">
								  <mat-card-content>
								    <p class="subtitle text-uppercase">Google Learns apps</p>
								    <h2>Google Primer</h2>
								    <p>
								      Primer es una forma simple y veloz de adquirir nuevas habilidades sobre negocios y marketing. Funciona incluso offline, así que puedes tomar lecciones en cualquier momento.
								    </p>
								    <div class="tags">
								    	<a href="" mat-button>
								    		<i class="material-icons">arrow_right</i>
								    		Comunicaciones
								    	</a>
								    	<a href="" mat-button>
								    		<i class="material-icons">arrow_right</i>
								    		Entretenimiento
								    	</a>
								    </div>
								  </mat-card-content>
								  <mat-card-actions>
								    <p class="price d-flex flex-column align-items-end justify-content-end">
								    	<small>Desde</small>
								    	<span>UYU $ <b>1.500</b></span>
								    </p>
								    <button mat-button class="text-uppercase btn-outline f-medium">Comprar</button>
								  </mat-card-actions>
								</mat-card>
						  </mat-list-item>
						</mat-list>
						<div class="see-more text-center">
							<button mat-button class="btn-outline color-grey f-light">Ver más</button>
						</div>	
				  </mat-tab>
				  <mat-tab label="Retail" class="text-uppercase">
				  	<mat-list role="list">
						  <mat-list-item role="listitem">
						  	<mat-card class="example-card">
								  <img mat-card-image src="../../assets/images/apps/youtube-go.png" alt="Youtube Go">
								  <mat-card-content>
								    <p class="subtitle text-uppercase">google llc</p>
								    <h2>Youtube Go</h2>
								    <p>
								      YouTube Go es una app que puedes usar todos los días, incluso si tienes datos limitados o una conexión lenta. La app está diseñada para funcionar con poca memoria.
								    </p>
								    <div class="tags">
								    	<a href="" mat-button>
								    		<i class="material-icons">arrow_right</i>
								    		Comunicaciones
								    	</a>
								    	<a href="" mat-button>
								    		<i class="material-icons">arrow_right</i>
								    		Entretenimiento
								    	</a>
								    </div>
								  </mat-card-content>
								  <mat-card-actions>
								    <p class="price d-flex flex-column align-items-end justify-content-end">
								    	<small>Desde</small>
								    	<span>UYU $ <b>1.500</b></span>
								    </p>
								    <button mat-button class="text-uppercase btn-outline f-medium">Comprar</button>
								  </mat-card-actions>
								</mat-card>
						  </mat-list-item>
						  <mat-list-item role="listitem">
						  	<mat-card class="example-card">
								  <img mat-card-image src="../../assets/images/apps/fancy-security.png" alt="Fancy Security">
								  <mat-card-content>
								    <p class="subtitle text-uppercase">Fancy Mobile Apps</p>
								    <h2>Fancy Security</h2>
								    <p>
								      Es un antivirus, limpiador de teléfono y aplicación de refuerzo de Android rápido, ligero y potente. Puede eliminar virus, aumentar la memoria del teléfono y limpiar el espacio.
								    </p>
								    <div class="tags">
								    	<a href="" mat-button>
								    		<i class="material-icons">arrow_right</i>
								    		Comunicaciones
								    	</a>
								    	<a href="" mat-button>
								    		<i class="material-icons">arrow_right</i>
								    		Entretenimiento
								    	</a>
								    </div>
								  </mat-card-content>
								  <mat-card-actions>
								    <p class="price d-flex flex-column align-items-end justify-content-end">
								    	<small>Desde</small>
								    	<span>UYU $ <b>1.500</b></span>
								    </p>
								    <button mat-button class="text-uppercase btn-outline f-medium">Comprar</button>
								  </mat-card-actions>
								</mat-card>
						  </mat-list-item>
						  <mat-list-item role="listitem">
						  	<mat-card class="example-card">
								  <img mat-card-image src="../../assets/images/apps/samsung-health.png" alt="Samsung Health">
								  <mat-card-content>
								    <p class="subtitle text-uppercase">Samsung Electronics Co., Ltd.</p>
								    <h2>Samsung Health</h2>
								    <p>
								      Samsung Health ofrece funciones esenciales para que pueda mantener el cuerpo sano y en forma. Registrará y analizará sus actividades diarias y sus hábitos.
								    </p>
								    <div class="tags">
								    	<a href="" mat-button>
								    		<i class="material-icons">arrow_right</i>
								    		Comunicaciones
								    	</a>
								    	<a href="" mat-button>
								    		<i class="material-icons">arrow_right</i>
								    		Entretenimiento
								    	</a>
								    </div>
								  </mat-card-content>
								  <mat-card-actions>
								    <p class="price d-flex flex-column align-items-end justify-content-end">
								    	<small>Desde</small>
								    	<span>UYU $ <b>1.500</b></span>
								    </p>
								    <button mat-button class="text-uppercase btn-outline f-medium">Comprar</button>
								  </mat-card-actions>
								</mat-card>
						  </mat-list-item>
						</mat-list>
						<div class="see-more text-center">
							<button mat-button class="btn-outline color-grey f-light">Ver más</button>
						</div>	
				  </mat-tab>
				</mat-tab-group>
			</div>
		</div>
	</div>
</div>